@model Vidly.Models.Movie

<div>
    <h4>@Model.Name</h4>
    <hr />
    <ul>
        <li>Genre: @Model.Genre.Name</li> 
        <li>Release Date: @Model.ReleaseDate.ToLongDateString()</li> 
        <li>Date Added: @Model.DateAdded.ToLongDateString()</li> 
        <li>Number in Stock: @Model.Stock</li>
    </ul>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
